*{
    box-sizing: border-box;
}
body{
    font-family: Verdana,Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: rgb(212, 218, 222);
    padding: 5px 20px 15px 20px;
    border: 1px solid black;
    border-radius: 6px;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 10px;
    border: 1px #ccc;
    border-radius: 6px;
    margin: 15px;
}
fieldset{
    background-color: white;
    border: 1px #ccc;
    border-radius: 6px;
    
}
.main_heading{
    text-align: center;
}
input[type="submit"]{
    background-color: rgb(26, 122, 26);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: rgb(13, 73, 13);
    color: white;
}