* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
  }
  
  .container {
    background-color: #a4985783;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px 0;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }